<template>
    <div class="content-wrapper mb-5">
        <section class="content-header">
            <div class="container-fluid">
            </div>
        </section>

        <section class="content">
            <b-card class="shadow-md border-0 rounded-lg">
                <h5>MAPPING MENU</h5>
                <hr>
                <b-form @submit="store">
                    <b-row>

                        <b-col md="12">
                            <h3>Mapping</h3>
                            <table class="table table-striped w-auto" style="width: 100% !important">
                                <tr class="colorback">
                                    <th class="font-weight-bold"></th>
                                    <th class="font-weight-bold">Menu</th>
                                    <th class="font-weight-bold">Action</th>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <v-select placeholder="Choose Menu" :value="formdetail.menu_id" :options="menuList"
                                            @input="
                                                (value) =>
                                                    updateValueCB(value, 'menu_id')
                                            " @search="
                                                (value, loading) =>
                                                    onSearch(value, 'menu_id', loading)
                                            " />
                                    </td>
                                    <td>
                                        <b-button @click="insert(formdetail)" class="btn-info">
                                            Add
                                        </b-button>
                                    </td>
                                </tr>
                                <tr v-for="(i, idx) in detailsave" :key="i">
                                    <td></td>
                                    <td>{{ i.name }}</td>
                                    <td>
                                        <b-button @click="deletetbl(i, idx)" class="btn-danger">
                                            Delete
                                        </b-button>
                                    </td>
                                </tr>
                            </table>
                        </b-col>

                    </b-row>

                    <b-button type="submit" variant="primary">SIMPAN</b-button>
                </b-form>
            </b-card>
            <b-card>
                <b-col md="12">
                    <h3>List Menu</h3>
                    <table class="table table-striped w-auto" style="width: 100% !important">
                        <tr class="colorback">
                            <th class="font-weight-bold">Menu</th>
                            <th class="font-weight-bold">Action</th>
                        </tr>

                        <tr v-for="(id, idx) in menus" :key="id">
                            <td> {{ id.name }}</td>
                            <td>
                                <b-button @click="deleteMapping(id, idx)" class="btn-danger">
                                    Delete
                                </b-button>
                            </td>
                        </tr>
                    </table>
                </b-col>

            </b-card>
        </section>

    </div>
</template>

<script>
export default {
    layout: 'admin',

    head() {
        return {
            title: 'Menu Mapping Group',
        }
    },

    data() {
        return {
            //state datas
            menuList: [],
            formdetail: {
                menu_id: null,
            },

            menus: [],
            detailsave: [],
            //state validation
            validation: []
        }
    },
    mounted() {
        this.getList();
        this.getData();
    },

    methods: {
        updateValueCB(value, type) {
            if (type === "menu_id") {
                this.formdetail.menu_id = value;
            }

        },
        onSearch(query, type) {
            if (query.length) {
                if (this.timeout) clearInterval(this.timeout);
                this.timeout = setTimeout(() => {

                    // call api or function api in here
                    if (type === "menu_id") {

                        this.getList(query).then();
                    }
                }, 1000);
            }
        },
        insert(datas) {
            console.log(datas, "test datas");
            if ((!datas.menu_id)) {
                return this.$swal.fire("ERROR", "Code wajib di isi", "error");
            }
            const data = {
                menu_id: datas.menu_id.code,
                name: datas.menu_id.label,
            };
            this.detailsave.push(data);
        },
        deletetbl(item, index) {
            this.detailsave.splice(index, 1);
            console.log(item, "test item", index);
        },
        deleteMapping(item, index) {
            this.$swal
                .fire({
                    title: "Are you sure?",
                    text: "Delete Data!",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonText: "Yes, deleted it!",
                    cancelButtonText: "No, cancel!",
                })
                .then((res) => {
                    if (res.value) {
                        this.$axios.delete(`/group/${item.id}/menu`)
                            .then(() => {
                                this.$swal.fire("Sukses Delete Data", "", "success");
                                this.menus = []
                                this.getData();
                            })
                    } 
                });

        },

        async getData() {
            try {
                this.$axios.get(`/group/${this.$route.params.id}`)
                    .then(response => {
                        this.menus = response.data.data.menu
                    });
            } catch (error) {
                this.$swal.fire("ERROR", `${error}`, "error");
            }
        }, async getList(search = "") {
            try {
                const queryParam = !search
                    ? "?q="
                    : `?q=${search}`;
                await this.$axios
                    .get(
                        "menuss" + queryParam
                    )
                    .then((data) => {
                        console.log(data.data.data)
                        this.menuList = data.data.data.map((data) => ({
                            code: data.id,
                            label: data.name,
                        }));
                    });
            } catch (error) {
                this.$swal.fire("ERROR", `${error}`, "error");
            }
        },

        async store(e) {
            e.preventDefault()

            //send data ke Rest API
            await this.$axios.post(`/group/${this.$route.params.id}/menu`, {
                detail: this.detailsave


            })
                .then(() => {
                    this.$nextTick((ctx) => {
                        this.$swal.fire("Sukses Save Data", "", "success");

                    });
                    this.detailsave = []
                    this.getData();
                })
                .catch(error => {
                    //assign validation  
                    console.log(error.response.data)

                    this.validation = error.response.data
                    this.$swal.fire(
                        {
                            title: "Oops!",
                            text: "",
                            icon: "warning",
                        })

                })
        }
    }

}
</script>
