<template>
  <div class="content-wrapper mb-5">
    <section class="content-header">
      <div class="container-fluid">
      </div>
    </section>

    <section class="content">
      <b-card class="shadow-md border-0 rounded-lg">
        <h5>ADD Group</h5>
        <hr>
        <b-form @submit="store">
          <b-form-group label="Group Name">
            <b-form-input type="text" v-model="datas.name" :class="{ 'is-invalid': validation.name }"
              placeholder="Group Name">
            </b-form-input>
            <div v-if="validation.name" class="mt-2">
              <b-alert show variant="danger">{{ validation.name[0] }}</b-alert>
            </div>
          </b-form-group>


          <b-button type="submit" variant="primary">SIMPAN</b-button>
        </b-form>
      </b-card>
    </section>

  </div>
</template>

<script>
export default {
  layout: 'admin',

  head() {
    return {
      title: 'Menu Add Group',
    }
  },

  data() {
    return {
      //state datas
      datas: {
        name: '',
      },
      //state validation
      validation: []
    }
  },

  methods: {

    //method "store"
    async store(e) {
      e.preventDefault()

      //send data ke Rest API
      await this.$axios.post('/group', {

        //data yang dikirim ke server
        name: this.datas.name,

      })
        .then(() => {
          this.$nextTick((ctx) => {
            this.$swal.fire("Sukses Add Data", "", "success");

            this.$router.push("/admin/group");
          });

        })
        .catch(error => {
          //assign validation  
          console.log(error.response.data)

          this.validation = error.response.data
          this.$swal.fire(
            {
              title: "Oops!",
              text: "",
              icon: "warning",
            })

        })
    }
  }

}
</script>
