<template>

    <div class="content-wrapper mb-5">
      <section class="content-header">
        <div class="container-fluid">
        </div>
      </section>
  
      <section class="content">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title"><i class="nav-icon fas fa-tags"></i> Group</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <nuxt-link :to="{name: 'admin-group-add'}" class="btn btn-info btn-sm" style="padding-top: 8px;"><i
                      class="fa fa-plus-circle"></i> TAMBAH</nuxt-link>
                </div>
                <input type="text" class="form-control" v-model="search" @keypress.enter="searchData" placeholder="cari berdasarkan nama">
                <div class="input-group-append">
                  <button @click="searchData" class="btn btn-info"><i class="fa fa-search"></i>
                    CARI
                  </button>
                </div>
              </div>
            </div>
  
            <!-- table -->
            <b-table  responsive striped bordered hover :items="datas.data" :fields="fields" show-empty>
                    <template v-slot:cell(no)="row">
                        {{((datas.current_page-1)*10) + (row.index+1)}}
                    </template>
                    <template v-slot:cell(actions)="row">
                        <b-button :to="{ name: 'admin-group-edit-id', params: { id: row.item.id } }" variant="warning"
                            size="sm">EDIT</b-button>
                        <b-button :to="{ name: 'admin-group-id', params: { id: row.item.id } }" variant="primary"
                            size="sm">MAPPING MENU</b-button>
                        <b-button variant="danger" size="sm" @click="deletePost(row)">DELETE</b-button>
                    </template>
                </b-table>
                <b-pagination align="right" v-model="datas.current_page" :total-rows="datas.total"
                    :per-page="datas.per_page" @change="changePage" aria-controls="my-table"></b-pagination>
  
          </div>
        </div>
      </section>
  
    </div>
  </template>
  
<script>
export default {
    layout: 'admin',

    head() {
        return {
            title: 'Menu Data Group',
        }
    },

    data() {
        return {
            //header table  
            fields: ['no', 'name', 'actions'],
            //datas data
            datas: [],
            search: '',
            page: '',
        }
    },

    mounted() {

        //fething ke Rest API 
        this.getUsersData(this.search, this.datas.current_page)
    },
    methods: {
        searchData() {
            //LAKUKAN PEMANGGILAN KE API UNTUK MENDAPATKAN DATA BERDASARKAN PENCARIAN
            this.getUsersData(this.search, this.datas.current_page)
        },
        getUsersData(search, page) {
            this.datas.data = []
            this.$axios.get(`/group?q=${search}&page=${page}`)
                .then(response => {

                    //assign response ke state "datas"
                    this.datas = response.data.data

                    if (this.datas.current_page > 1) {
                        if (this.datas.data.length == 0) {
                            this.getUsersData(this.search, 1)
                        }
                    }
                })
                .catch(error => {
                    console.log(error.response.data)
                    this.$swal.fire(
                        {
                            title: error.response.data.meta.message,
                            text: "",
                            icon: "error",
                        })

                })

        },
        changePage(val) {
            console.log(val)
            this.getUsersData(this.search, val)
        },
        async deletePost(row) {
            this.$swal
                .fire({
                    title: "Are you sure?",
                    text: "Delete Data!",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonText: "Yes, deleted it!",
                    cancelButtonText: "No, cancel!",
                })
                .then((res) => {
                    if (res.value) {
                        this.$axios.delete(`/group/${row.item.id}`)
                            .then(() => {
                                this.$swal.fire("Sukses Delete Data", "", "success");
                                //remove item array by index
                                this.getUsersData(this.search, this.datas.current_page)
                            })
                    }
                });
        }
    }

}
</script>
