<template>
  <div class="content-wrapper mb-5">
      <section class="content-header">
        <div class="container-fluid">
        </div>
      </section>
  
      <section class="content">
          <b-card class="shadow-md border-0 rounded-lg">
            <h5>ADD Menu</h5>
            <hr>
            <b-form @submit="store">
              <b-form-group label="Menu Name">
                <b-form-input type="text" v-model="datas.name" :class="{ 'is-invalid': validation.name }"
                  placeholder="Menu Name">
                </b-form-input>
                <div v-if="validation.name" class="mt-2">
                  <b-alert show variant="danger">{{ validation.name[0] }}</b-alert>
                </div>
              </b-form-group>
              <b-form-group label="Menu Route">
                <b-form-input type="text" v-model="datas.route" :class="{ 'is-invalid': validation.route }"
                  placeholder="Menu route">
                </b-form-input>
                <div v-if="validation.route" class="mt-2">
                  <b-alert show variant="danger">{{ validation.route[0] }}</b-alert>
                </div>
              </b-form-group>
              <b-form-group label="Type">
                <v-select placeholder="Choose Type" :value="form.type" :options="ListClass" @input="
                  (value) =>
                    updateValueCB(value, 'type')
                " />
                <div v-if="validation.type" class="mt-2">
                  <b-alert show variant="danger">{{ validation.type[0] }}
                  </b-alert>
                </div>
              </b-form-group>
              <b-form-group label="Icon">
                <v-select placeholder="Choose icon" :value="form.icon" :options="ListIcon" @input="
                  (value) =>
                    updateValueCB(value, 'icon')
                " />
                <div v-if="validation.icon" class="mt-2">
                  <b-alert show variant="danger">{{ validation.icon[0] }}
                  </b-alert>
                </div>
              </b-form-group>
              <b-form-group label="Parent">
                <v-select placeholder="Choose parent menu" :value="form.parent" :options="MenuList" @input="
                  (value) =>
                    updateValueCB(value, 'parent')
                " @search="
  (value, loading) =>
    onSearch(value, 'parent', loading)
" />
                <div v-if="validation.origin" class="mt-2">
                  <b-alert show variant="danger">{{ validation.origin[0] }}</b-alert>
                </div>
              </b-form-group>
              <b-button type="submit" variant="primary">SIMPAN</b-button>
            </b-form>
          </b-card>
        </section>
  
</div>
</template>

<script>
export default {
  layout: 'admin',

  head() {
        return {
          title: 'Add Data Menu',
        }
      },

  data() {
    return {
      //state datas
      ListClass: [
        { code: 'nav-header', label: 'Header' },
        { code: 'nav-item', label: 'Item' }
      ],
      ListIcon: [
        { code: '<i class="fa fa-home fa-lg"></i>', label: 'Home' },
        { code: '<i class="fa fa-edit fa-lg"></i>', label: 'Edit' }
      ],
      MenuList: [],
      datas: {
        name: '',
        route: '',
      },
      form: [],
      //state validation
      validation: []
    }
  },
    mounted() {
        this.getList();

    },

  methods: {
    updateValueCB(value, type) {
      if (type === "type") {
        this.form.type = value;
      }
      else if (type === "m_vessel_id") {
        this.formdetail.m_vessel_id = value;
      }
      else if (type === "icon") {
        this.form.icon = value;
      }
      else if (type === "parent") {
        this.form.parent = value;
      }
    },
    onSearch(query, type) {
      if (query.length) {
        if (this.timeout) clearInterval(this.timeout);
        this.timeout = setTimeout(() => {

          // call api or function api in here
          if (type === "parent") {

            this.getList(query).then();
          } 
        }, 1000);
      }
    },
    async getList(search = "") {
            try {
                const queryParam = !search
                    ? "?q="
                    : `?q=${search}`;
                await this.$axios
                    .get(
                        "menus" + queryParam
                    )
                    .then((data) => {
                        console.log(data.data.data)
                        this.MenuList = data.data.data.map((data) => ({
                            code: data.id,
                            label: data.name,
                        }));
                    });
            } catch (error) {
                this.$swal.fire("ERROR", `${error}`, "error");
            }
        },
    //method "store"
    async store(e) {
      e.preventDefault()
      //send data ke Rest API
      await this.$axios.post('/menu', {
        //data yang dikirim ke server
        name: this.datas.name,
        route: this.datas.route,
        class: this.form.type.code ? this.form.type.code : null,
        icon: this.form.icon.code ? this.form.icon.code : null,
        menu_id: this.form.parent ? this.form.parent.code : null,

      })
        .then(() => {
          this.$nextTick((ctx) => {
            this.$swal.fire("Sukses Add Data", "", "success");

            this.$router.push("/admin/menu");
          });

        })
        .catch(error => {
          //assign validation  
          console.log(error.response.data)

          this.validation = error.response.data
          this.$swal.fire(
            {
              title: "Oops!",
              text: "",
              icon: "warning",
            })

        })
    }
  }

}
</script>
