<template>
    <footer class="footer-top pt-4" style="background: #ffffff !important; color: #000000;">
        <b-container>
          <b-row>
            <b-col md="4">
              <h5>TENTANG</h5>
              <hr>
              <p> 
                {{operators.nama}}
                <br><br>
              </p>
            </b-col>
            <b-col md="4">
              
              <hr>
              <div>
                
                
              </div>
            </b-col>
            <b-col md="4">
              <h5>KONTAK</h5>
              <hr>
              <p><i aria-hidden="true" class="fa fa-map-marker"></i> {{operators.alamat}}
                <br><br><i class="fas fa-phone"></i> {{operators.telpon}} 
                <br><br><i class="fas fa-envelope"></i> {{operators.email}} 
              </p>
            </b-col>
          </b-row>
        </b-container>
        <b-container fluid class="footer-bottom" style="background: #000000 !important; color: #ffffff;">
          <b-row class="p-3 justify-content-center">
            <div class="text-white font-weight-bold"> Copyright © 2023 SISKHA. All Rights
              Reserved.
            </div>
          </b-row>
        </b-container>
      </footer>
  </template>
  
  <script>
  export default {
  
    data() {
        return {
          //state sliders
          operators: []
        }
      },
  
      async fetch() {
  
        //fething operators on Rest API
        await this.$axios.get('/operators')
        .then(response => {
  
          //assign response to state "operators"
          this.operators = response.data.data
        })
      }
  
  }
  </script>
  
  <style>
  
  </style>