<template>
  
    <div>
     
      <b-jumbotron class="p-3 rounded-0 mb-0" style="background: #ffffff !important; color: #000000;">
        <b-container>
          <b-row class="mt-2">
            <b-col md="1" class="text-center">
              <b-img src="https://travel.digitalclyve.com/img/khairo6.png" rounded="circle" width="70"></b-img>
            </b-col>
            <b-col md="11">
              <nuxt-link :to="{path: '/'}"><h3 class="font-weight-bold">SISKHA</h3></nuxt-link>
              <p>Sistem Informasi Khairo.</p>
            </b-col>
          </b-row>
        </b-container>
      </b-jumbotron>
      <b-navbar  style="background: #ffffff !important; color: #000000;">
        <b-container>
          <b-row class="mt-2">
        <b-navbar-nav>
          <b-nav-item :to="{path: '/'}">Home</b-nav-item>
          <b-nav-item @click="go()">Login</b-nav-item>
          <b-nav-item :to="{name: 'daftar'}">Registrasi</b-nav-item>

        </b-navbar-nav>
      </b-row>
        </b-container>
      </b-navbar>
    </div>
  </template>
  
  <script>
    export default {
  
      //data function
      data() {
        return {
          //state menus
          menus: [],
        }
      },
  methods:{
    
    go(){
      this.$router.push("/login");
      },
  }
    //   async fetch() {
  
    //     //fething menus on Rest API
    //     await this.$axios.get('/api/web/menus')
    //       .then(response => {
  
    //         //assign response to state "menus"
    //         this.menus = response.data.data
    //       })
    //   }
  
    }
  </script>
  
  <style>
  
  </style>