<template>
    <div class="card card-outline card-info">
      <div class="card-header text-center">
        <nuxt-link to="/" class="h1 font-weight-bold text-dark">E-PORT</nuxt-link>
        <div><i>E-PORT SYSTEM </i></div>
      </div>
      <div class="card-body">
        <div v-if="validation.message" class="mt-2">
          <b-alert show variant="danger">{{ validation.message }}</b-alert>
        </div>
        <form @submit.prevent="login">
          <div class="form-group">
            <label class="font-weight-bold text-uppercase">Username</label>
            <input type="text" v-model="user.username" :class="{ 'is-invalid': validation.username }" class="form-control"
              placeholder="Masukkan username">
          </div>
          <div v-if="validation.username" class="mt-2">
            <b-alert show variant="danger">{{ validation.username[0] }}</b-alert>
          </div>
  
          <div class="form-group">
            <label class="font-weight-bold text-uppercase">Password</label>
            <input type="password" v-model="user.password" :class="{ 'is-invalid': validation.password }"
              class="form-control" placeholder="Masukkan Password">
          </div>
          <div v-if="validation.password" class="mt-2">
            <b-alert show variant="danger">{{ validation.password[0] }}</b-alert>
          </div>
  
          <button type="submit" class="btn btn-info btn-block">LOGIN</button>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </template>
  
  <script>
    export default {
  
      //layout
      layout: 'auth',
  
      //meta
      head() {
        return {
          title: 'Login  ',
        }
      },
  
      data() {
        return {
          //state user
          user: {
            username: '',
            password: '',
          },
          //validation
          validation: []
        }
      },
  
      methods: {
        async login() {
  
          await this.$auth.loginWith('local', {
              data: {
                username: this.user.username,
                password: this.user.password
              }
            })
  
            .then(() => {
  
              //redirect
              this.$router.push({
                name: 'admin-dashboard'
              })
  
            })
  
            .catch(error => {
              //assign validation
              this.validation = error.response.data
            })
        }
  
      }
  
    }
  </script>
  
  <style>
  
  </style>