<template>
    <div class="content-wrapper mb-5">
        <section class="content-header">
          <div class="container-fluid">
          </div>
        </section>
    
        <section class="content">
                    <b-card class="shadow-md border-0 rounded-lg">
                        <h5>EDIT Menu</h5>
                        <hr>
                        <b-form @submit="store">
                            <b-form-group label="Menu Name">
                                <b-form-input type="text" v-model="datas.name"
                                    :class="{ 'is-invalid': validation.name }" placeholder="Menu Name">
                                </b-form-input>
                                <div v-if="validation.name" class="mt-2">
                                    <b-alert show variant="danger">{{ validation.name[0] }}</b-alert>
                                </div>
                            </b-form-group>
                            <b-form-group label="Menu Route">
                                <b-form-input type="text" v-model="datas.route"
                                    :class="{ 'is-invalid': validation.route }" placeholder="Menu route">
                                </b-form-input>
                                <div v-if="validation.route" class="mt-2">
                                    <b-alert show variant="danger">{{ validation.route[0] }}</b-alert>
                                </div>
                            </b-form-group>



                            <b-button type="submit" variant="primary">SIMPAN</b-button>
                        </b-form>
                    </b-card>
        </section>
  
</div>
</template>

<script>
export default {
    layout: 'admin',

    head() {
        return {
          title: 'Edit Data Menu',
        }
      },

    data() {
        return {
            ListClass: [
                { code: 'c-sidebar-nav-title', label: 'Header' },
                { code: 'c-sidebar-nav-item', label: 'Item' }
            ],
            ListIcon: [
                { code: '<i class="fa fa-home fa-lg"></i>', label: 'Home' },
                { code: '<i class="fa fa-edit fa-lg"></i>', label: 'Edit' }
            ],
            MenuList: []
            ,
            datas: {
                name: '',
                route: '',
            },
            form: [],
            validation: []
        }
    },
    mounted() {

        //get data post by ID
        this.$axios.get(`/menu/${this.$route.params.id}`)
            .then(response => {
                this.datas.name = response.data.data.name
                this.datas.route = response.data.data.route
            })
    },
    methods: {
    
        //method "store"
        async store(e) {
            e.preventDefault()

            //send data ke Rest API
            await this.$axios.put(`/menu/${this.$route.params.id}`, {

                //data yang dikirim ke server
                name: this.datas.name,
                route: this.datas.route,

            })
                .then(() => {
                    this.$nextTick((ctx) => {
                        this.$swal.fire("Sukses Update Data", "", "success");

                        this.$router.push("/master/menu");
                    });
                    //redirect ke route "post"
                    // this.$router.push({
                    //   name: 'posts'
                    // })

                })
                .catch(error => {
                    //assign validation  
                    console.log(error.response.data)

                    this.validation = error.response.data
                    this.$swal.fire(
                        {
                            title: "Oops!",
                            text: "",
                            icon: "warning",
                        })

                })
        }
    }

}
</script>
