<template>
    <div class="content-wrapper mb-5">
        <section class="content-header">
            <div class="container-fluid">
            </div>
        </section>

        <section class="content">
            <b-card class="shadow-md border-0 rounded-lg">
                <h5>EDIT config</h5>
                <hr>
                <b-form @submit="store">
                    <b-form-group label="config code">
                        <b-form-input type="text" v-model="datas.code" :class="{ 'is-invalid': validation.code }"
                            placeholder="config code">
                        </b-form-input>
                        <div v-if="validation.code" class="mt-2">
                            <b-alert show variant="danger">{{ validation.code[0] }}</b-alert>
                        </div>
                    </b-form-group>
                    <b-form-group label="config value1">
                        <b-form-input type="text" v-model="datas.value1" :class="{ 'is-invalid': validation.value1 }"
                            placeholder="config value1">
                        </b-form-input>
                        <div v-if="validation.value1" class="mt-2">
                            <b-alert show variant="danger">{{ validation.value1[0] }}</b-alert>
                        </div>
                    </b-form-group>
                    <b-form-group label="config value2">
                        <b-form-input type="text" v-model="datas.value2" :class="{ 'is-invalid': validation.value2 }"
                            placeholder="config value2">
                        </b-form-input>
                        <div v-if="validation.value2" class="mt-2">
                            <b-alert show variant="danger">{{ validation.value2[0] }}</b-alert>
                        </div>
                    </b-form-group>
                    <b-form-group label="config value3">
                        <b-form-input type="text" v-model="datas.value3" :class="{ 'is-invalid': validation.value3 }"
                            placeholder="config value3">
                        </b-form-input>
                        <div v-if="validation.value3" class="mt-2">
                            <b-alert show variant="danger">{{ validation.value3[0] }}</b-alert>
                        </div>
                    </b-form-group>
                    <b-form-group label="config description">
                        <b-form-input type="text" v-model="datas.description"
                            :class="{ 'is-invalid': validation.description }" placeholder="config description">
                        </b-form-input>
                        <div v-if="validation.description" class="mt-2">
                            <b-alert show variant="danger">{{ validation.description[0] }}</b-alert>
                        </div>
                    </b-form-group>


                    <b-button type="submit" variant="primary">SIMPAN</b-button>
                </b-form>
            </b-card>
        </section>

    </div>
</template>

<script>
export default {
    layout: 'admin',

    head() {
        return {
            title: 'Menu Edit Config',
        }
    },

    data() {
        return {
            //state datas
            datas: {
                code: '',
                value1: '',
                value2: '',
                value3: '',
                description: '',
            },
            //state validation
            validation: []
        }
    },
    mounted() {

        //get data post by ID
        this.$axios.get(`/config/${this.$route.params.id}`)
            .then(response => {
                this.datas.code = response.data.data.code
                this.datas.value1 = response.data.data.value1
                this.datas.value2 = response.data.data.value2
                this.datas.value3 = response.data.data.value3
                this.datas.description = response.data.data.description
            })
    },
    methods: {

        //method "store"
        async store(e) {
            e.preventDefault()

            //send data ke Rest API
            await this.$axios.put(`/config/${this.$route.params.id}`, {

                //data yang dikirim ke server
                code: this.datas.code,
                value1: this.datas.value1,
                value2: this.datas.value2,
                value3: this.datas.value3,
                description: this.datas.description,

            })
                .then(() => {
                    this.$nextTick((ctx) => {
                        this.$swal.fire("Sukses Update Data", "", "success");

                        this.$router.push("/admin/config");
                    });

                })
                .catch(error => {
                    //assign validation  
                    console.log(error.response.data)

                    this.validation = error.response.data
                    this.$swal.fire(
                        {
                            title: "Oops!",
                            text: "",
                            icon: "warning",
                        })

                })
        }
    }

}
</script>