<template>
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <div>
        <li class="nav-item ">
          <nuxt-link :to="{ name: 'admin-dashboard' }" class="nav-link ">
            <i class="fa fa-home fa-lg"></i>
            <p>
              HOME
            </p>
          </nuxt-link>
        </li>
        <li class="nav-item" v-for="(item, index) in menus" :key="`menu-` + index">
          
          <a :to="item.route" v-if="item.class == `nav-header`" class="nav-link " style="" @click="toggleMenu($event)">
            <span v-html="item.icon"></span>
            <p>
              {{ item.name }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <nuxt-link :to="item.route" v-else class="nav-link " >
            <span v-html="item.icon"></span>
            <p>
              {{ item.name }}
              
            </p>
          </nuxt-link>

          <ul v-if="item.class == `nav-header`" class="nav nav-treeview" v-for="(it, idx) in item.detail"
            :key="`menus-` + idx">
            <li class="nav-item">
              <nuxt-link :to="it.route" class="nav-link">
                <span v-html="it.icon"></span>
                <p>
                  {{ it.name }}
                </p>
              </nuxt-link>
            </li>

          </ul>
        </li>
      </div>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</template>

<script>
export default {
  //data function
  mounted() {
    $(this.$el).find('.nav-item').has('.nav-treeview').on('click', function () {
      $(this).toggleClass('menu-open');
    });
    this.getuser();
  },
  data() {
    return {
      //state menus
      menus: [],
    }
  },
  methods: {
    getuser() {
      //fething menus on Rest API
      this.$axios.get('/profilemenu')
        .then(response => {
          //assign response to state "menus"
          this.menus = response.data
          console.log(this.menus)
        })
    },
    toggleMenu(event) {
      const target = event.target;
      if (target.nextElementSibling !== null && target.nextElementSibling.classList.contains('nav-treeview')) {
        target.parentElement.classList.toggle('menu-open');
      }
    },
  },
}
</script>

<style scoped>
a.nuxt-link-active {
  background-color: rgba(255, 255, 255, .1);
  color:#FFF !important 
}
 .nav-link:hover { background: rgba(255, 255, 255, .1); color:#FFF !important }
</style>
