<template>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
        </div>
      </section>
  
      <section class="content">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fa fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">USERS</span>
                <span>
                  <hr></span>
                <span class="info-box-number">{{ users }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fa fa-folder"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">CATEGORIES</span>
                <span>
                  <hr></span>
                <span class="info-box-number">{{ categories }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-primary"><i class="fa fa-book-open"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">POSTS</span>
                <span>
                  <hr></span>
                <span class="info-box-number">{{ posts }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="fa fa-comments"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">COMMENTS</span>
                <span>
                  <hr></span>
                <span class="info-box-number">{{ comments }}</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="card border-0 rounded shadow-sm border-top-orange">
              <div class="card-header">
                <span class="font-weight-bold"><i class="fa fa-chart-bar"></i> GRAFIK PENDAPATAN {{new Date().getFullYear()}}</span>
              </div>
              <div class="card-body">
                <client-only>
                    <line-chart :data="chart.chartData"></line-chart>
                </client-only>
              </div>
            </div>
          </div>
        </div>
  
      </section>
    </div>
  </template>
  
  <script>
    export default {
      //layout
      layout: 'admin',
  
      //meta
      head() {
        return {
          title: 'Dashboard ',
        }
      },
  
    
      async asyncData({ $axios }) {

      //fetching dashboard
      // const dashboard = await $axios.$get('/api/admin/dashboard')

      //statistic
      const statistic = {
        'pending': 1,
        'success': 2,
        'expired': 3,
        'failed': 4,
      }

      //cart
      const chart = {
        chartData: {
          labels: [1,2,3,4,5],
          datasets: [
            {
              label: `STATISTIK PENDAPATAN : ${new Date().getFullYear()}`,
              backgroundColor: '#bccad8',
              data: [10,20,23,44,55]
            },
          ]
        }
      }

      return {
        statistic,
        chart
      }
      },
  
    }
  </script>
  