<template>
  <div class="content-wrapper mb-5">
    <section class="content-header">
      <div class="container-fluid">
      </div>
    </section>

    <section class="content">
      <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title"><i class="nav-icon fas fa-tags"></i> CONFIG</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div>
           
            <button @click="handleDownloadExcel" class="btn btn-sm btn-info"><i class="fa fa-file"></i>
              EXPORT EXCEL
            </button>
            <button @click="handleDownloadPdf" class="btn btn-sm btn-danger"><i class="fa fa-file"></i>
              EXPORT PDF
            </button>
            <button id="show-btn" @click="$bvModal.show('modalUpload')" class="btn btn-sm btn-success"><i class="fa fa-file"></i>
              IMPORT EXCEL
            </button>
          </div>
          <br>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <nuxt-link :to="{ name: 'admin-config-add' }" class="btn btn-info btn-sm" style="padding-top: 8px;"><i
                    class="fa fa-plus-circle"></i> TAMBAH</nuxt-link>
              </div>
              <input type="text" class="form-control" v-model="search" @keypress.enter="searchData"
                placeholder="cari berdasarkan nama tag">
              <div class="input-group-append">
                <button @click="searchData" class="btn btn-info"><i class="fa fa-search"></i>
                  CARI
                </button>
              </div>
            </div>
            <button v-if="this.selectedItems.length > 0" @click="onSelectedDelete()" class="btn btn-sm btn-danger"><i class="fa fa-file"></i>
              DELETE SELECTED
            </button>
          </div>

          <!-- table -->
          <b-table responsive striped bordered hover :items="datas.data" :fields="fields"   >
             
            <template v-slot:cell(selected)="row">
              <b-form-checkbox
                :value="row.item.id"
                v-model="selectedItems"
              ></b-form-checkbox>
            </template>
            <template v-slot:cell(no)="row">
              {{ ((datas.current_page - 1) * 10) + (row.index + 1) }}
            </template>
            <template v-slot:cell(actions)="row">
              <b-button :to="{ name: 'admin-config-edit-id', params: { id: row.item.id } }" variant="warning"
                size="sm">EDIT</b-button>
              <b-button variant="danger" size="sm" @click="deletePost(row)">DELETE</b-button>
            </template>
          </b-table>
          <b-pagination align="right" v-model="datas.current_page" :total-rows="datas.total" :per-page="datas.per_page"
            @change="changePage" aria-controls="my-table"></b-pagination>

        </div>
      </div>
    </section>
    <div>
      <b-modal ref="my-modal" id="modalUpload" hide-footer>
        <template #modal-title>
          IMPORT DATA
        </template>
        <div class="d-block ">
          <input  ref="files" type="file" class="form-input" @change="selectedFile($event)">
        </div>
        <br>
        <div>
          <b-button class="btn btn-sm btn-info" @click="uploadfile">Save</b-button>
          <b-button class="btn btn-sm btn-dark" @click="$bvModal.hide('modalUpload')">Close Me</b-button>

        </div>
      </b-modal>
    </div>

  </div>
</template>
  

<script>
export default {
  layout: 'admin',

  head() {
    return {
      title: 'Menu Data Config',
    }
  },

  data() {
    return {
      //header table  
      fields: [{
        key: "selected",
        label: "",
        _style: "text-align: left;min-width:1%",
      },
      'no', 'code', 'value1', 'value2', 'value3', 'description', 'actions'],
      //datas data
      files :null,
      selectedItems: [],
      datas: [],
      search: '',
      page: '',
      newModal: false,
    }
  },
  mounted() {

    //fething ke Rest API 
    this.getUsersData(this.search, this.datas.current_page)
  },
  methods: {
    searchs() {
      //LAKUKAN PEMANGGILAN KE API UNTUK MENDAPATKAN DATA BERDASARKAN PENCARIAN
      this.getUsersData(this.search, this.datas.current_page)
    },
    
    onSelect (selectedItems) {
      this.selectedItems = selectedItems.map(item => item.id)
      console.log(this.selectedItems);
    },
    getUsersData(search, page) {
      this.datas.data = []
      this.$axios.get(`/config?q=${search}&page=${page}`)
        .then(response => {

          //assign response ke state "datas"
          this.datas = response.data.data

          if (this.datas.current_page > 1) {
            if (this.datas.data.length == 0) {
              this.getUsersData(this.search, 1)
            }
          }
        })
        .catch(error => {
          console.log(error.response.data)
          this.$swal.fire(
            {
              title: error.response.data.meta.message,
              text: "",
              icon: "error",
            })

        })

    },
    searchData() {
      this.$router.push({
        path: this.$route.path,
        query: {
          q: this.search
        }
      });
    },
    changePage(val) {
      console.log(val)
      this.getUsersData(this.search, val)
    },

    selectedFile(e) {
            console.log(`e`, e);
            this.files = e.target.files[0];
    },
    async uploadfile(){
      
      if(this.files == null ){
          this.$swal.fire("ERROR", "All Form Is Required ", "error");
          return
        }
        const config = {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          };
          
        const formData = new FormData();
        if (this.files) {
            formData.append(
                "files",
                this.files,
                this.files.name
            );
        }
        console.log(formData,'formData')
        this.$refs['my-modal'].hide()

        await this.$axios.post("/config/import/excel", formData, config);
          this.$nextTick((ctx) => {
            this.$swal.fire("Sukses", "", "success");
            this.getUsersData(this.search, this.datas.current_page)
          });
          
    },
    handleDownloadExcel() {
      this.$store.commit("setLoading", true);
      this.$axios
        .get(`/config/print/excel`, {
          responseType: "blob",
        })
        .then((response) => {

          const url = window.URL.createObjectURL(
            new Blob([response.data], { type: response.data.type })
          );
          const link = document.createElement("a");
          console.log(`url`, response);
          link.href = url;
          link.setAttribute("download", `File`);
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        })
        .catch((err) => {
          this.$swal.fire("Failed download Excel", err, "error");
        });
      this.$store.commit("setLoading", false);
    },
    handleDownloadPdf() {
      this.$store.commit("setLoading", true);
      this.$axios
        .get(`/config/print/pdf`, {
          responseType: "blob",
        })
        .then((response) => {

          const url = window.URL.createObjectURL(
            new Blob([response.data], { type: response.data.type })
          );
          const link = document.createElement("a");
          console.log(`url`, response);
          link.href = url;
          link.setAttribute("download", `File`);
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        })
        .catch((err) => {
          this.$swal.fire("Failed download PDF", err, "error");
        });
      this.$store.commit("setLoading", false);
    },

    async deletePost(row) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "Delete Data!",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes, deleted it!",
          cancelButtonText: "No, cancel!",
        })
        .then((res) => {
          if (res.value) {
            this.$axios.delete(`/config/${row.item.id}`)
              .then(() => {
                this.$swal.fire("Sukses Delete Data", "", "success");
                //remove item array by index
                this.getUsersData(this.search, this.datas.current_page)
              })
          }
        });
    },
    //Delete by selected
    async onSelectedDelete() {
      await this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "No, cancel!",
        })
        .then(async (result) => {
          if (result.value) {
            console.log(this.selectedItems.length);
            if (this.selectedItems.length > 0) {
              await this.$axios
                .post("/config/bulk_delete", {id:this.selectedItems})
                .then((data) => {
                  console.log(data);
                  this.$swal.fire("Sukses Delete Data", "", "success");

                  this.getUsersData(this.search, this.datas.current_page)
                })
                .catch(() => {
                  this.$swal.fire("Terjadi Kesalahan", "", "error");

                });
            }
          }
        });
    },

  }

}
</script>
